extends ../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/files/vendor/jquery-ui/themes/cupertino/jquery-ui.min.css')
  link(rel='stylesheet', href='/public/files/vendor/jquery-ui/themes/cupertino/theme.css')
  link(rel='stylesheet', href='/public/system/admin/index.css')
  link(rel='stylesheet', href='/public/articles/admin/index.css')

block content
  h1.article-header
    | Articles: 
    span(style="color: #666") #{articleToShow.title} [Details]
    div.row.placeholders
  form#createArticle.col-sm-8(method="POST", action="/api/articles", autocomplete="off")
  
    h2 Headers
    .form-group
      label(for="inputTitle") Title
      input#inputTitle.form-control(type="text", name="title", value="#{articleToShow.title}", placeholder="", maxlength="32", disabled)
    .form-group
      label(for="inputSlug") Slug
      input#inputSlug.form-control(type="text", name="slug", value="#{articleToShow.slug}", placeholder="", maxlength="32", disabled)
    .form-group
      label(for="inputStandfirst") Standfirst 
      input#inputStandfirst.form-control(type="text", name="standfirst", value="#{articleToShow.standfirst}", placeholder="", disabled)
    .form-group
      label(for="inputStart") Start 
      input#inputStart.form-control(type="text", name="start", value="#{articleToShow.start_format}", placeholder="", disabled)
    .form-group
      label(for="inputEnd") End 
      input#inputEnd.form-control(type="text", name="end", value="#{articleToShow.end_format || 'Never'}", placeholder="", disabled)
    .form-group
      label(for="inputCreated") Created
      input#inputCreated.form-control(type="text", name="created", value="#{articleToShow.created_format} (#{articleToShow.created_ago})", placeholder="Created", disabled)  
    .form-group
      label(for="inputModified") Modified
      input#inputModified.form-control(type="text", name="modified", value="#{articleToShow.modified_format|| 'Never'} #{articleToShow.modified_format ? '(' + articleToShow.modified_ago + ')' : ''}", placeholder="Modified", disabled)  
      
    div.row.placeholders
    
    h2 Blocks
    #articleBlocks
    
      each block, index in articleToShow.blocks 
        
        if block.type == 'text'
          .form-group(style='display: block;')
            label(style='width: 100%;')
              span.pull-left
                b TEXT
              // i.fa.fa-minus.pull-right(style='margin-right: 5px;')
              // i.fa.fa-sort.pull-right
            textarea.form-control.article-blocks(data-type='text', name='texts[]', placeholder='Feel free to write soemthing...', rows='5', disabled) #{block.value}
            
        else if block.type == 'quote'    
          .form-group(style='display: block;')
            label(style='width: 100%;')
              span.pull-left
                b QUOTE
            textarea.form-control.article-blocks(data-type='quote', name='quotes[]', placeholder='Feel free to write soemthing...', rows='5', disabled) #{block.value}
        
        else if block.type == 'image'     
          .form-group(style='display: block;')
            label(style='width: 100%;')
              span.pull-left
                b IMAGE
              // i.fa.fa-minus.pull-right(style='margin-right: 5px;')
              // i.fa.fa-sort.pull-right
            select.form-control.article-blocks(data-type='image', name='images[]', placeholder='Select an image from your library', disabled)
              option(value='-1')
              each imgEl in JSON.parse(imageList)  
                if imgEl._id == block.value
                  option(value='#{imgEl._id}', selected) #{imgEl.title}
                else 
                  option(value='#{imgEl._id}') #{imgEl.title}
        
        else if block.type == 'gallery' 
          .form-group(style='display: block;')
            label(style='width: 100%;')
              span.pull-left
                b GALLERY
              // i.fa.fa-minus.pull-right(style='margin-right: 5px;')
              // i.fa.fa-sort.pull-right
            select.form-control.article-blocks(data-type='gallery', name='images[]', placeholder='Select a gallery from your library', disabled)
              option(value='-1')
              each gEl in JSON.parse(galleryList)  
                if gEl._id == block.value
                  option(value='#{gEl._id}', selected) #{gEl.title}
                else 
                  option(value='#{gEl._id}') #{gEl.title}

        else if block.type == 'video' 
          .form-group(style='display: block;')
            label(style='width: 100%;')
              span.pull-left
                b VIDEO
              // i.fa.fa-minus.pull-right(style='margin-right: 5px;')
              // i.fa.fa-sort.pull-right
            input.form-control.article-blocks(data-type='video', value='#{block.value}', name='videos[]', placeholder='https://www.youtube.com/watch?v=MV_3Dpw-BRY', disabled)
      
    div.row.placeholders
      
    a.btn.btn-default(href="/admin/articles", style="margin-right: 5px;") &laquo;
    .btn-group
      button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        | Modify 
        span.caret
      |   
      ul.dropdown-menu(role="menu")
        li
          a(href="/admin/articles/#{articleToShow._id}/edit") Edit
        | 
        li
          a.deleteArticle(href="#", data-id="#{articleToShow._id}") Delete

block appendjs
  script.
    window.urlreload = '/admin/articles';
    window.csrf = '#{csrfToken}';
    window.imageList = JSON.parse('!{imageList}');
    window.galleryList = JSON.parse('!{galleryList}');
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script(src="/public/articles/admin/index.js")
