extends ../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/system/admin/index.css')

block content
    
  h1.page-header
    | Pages: 
    span(style="color: #666") List
    div.row.placeholders
  
  table.table.table-hover
    thead
      tr
        th
          | Title
        th
          | Slug
        th
          | Start
        th
          | End
        th
          | Modified
        th
          | 
    tbody
      each page in pages
        tr
          td
            a(href="/admin/pages/#{page._id}")
              | #{page.title}
          td
            a(href="/admin/pages/#{page._id}")
              | #{page.slug}
          td
            | #{page.start_format}
          td
            | #{page.end_format || 'Never'}
          td
            | #{page.modified_ago || 'Never'}  
          td
            .btn-group
                button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
                  | Modify 
                  span.caret
                |   
                ul.dropdown-menu(role="menu")
                  li
                    a(href="/admin/pages/#{page._id}/edit") Edit
                  li
                    a.deletePage(href="#", data-id="#{page._id}") Delete

    tfoot
      tr
        th
          | Title
        th
          | Slug
        th
          | Start
        th
          | End
        th
          | Modified
        th
          | 
          
  a(href="/admin/pages/create").btn.btn-primary Create
  
  - var nPages = Math.ceil(nPages / 10);
  - var i = 0;
  
  if nPages > 0
    nav.pull-right
      ul.pagination
        li(class=(activePage == 0) ? 'disabled' : '')
          a(href="/admin/pages?page=#{activePage-1}", aria-label="Previous")
            span(aria-hidden="true") &laquo;
            
        while i < nPages   
          li(class=(i == activePage) ? 'active' : '')
            a(href="/admin/pages?page=#{i}")
              | #{++i} 
                
        li(class=(activePage < nPages-1) ? '' : 'disabled')
          a(href="/admin/pages?page=#{activePage+1}", aria-label="Next")
            span(aria-hidden="true") &raquo;        
              
block appendjs
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script.
    window.urlreload = false;
    window.csrf = '#{csrfToken}';
    window.images = [];
    window.galleries = [];
  script(src="/public/pages/admin/index.js")
