extends ../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/system/admin/index.css')
  link(rel='stylesheet', href='/public/pages/admin/index.css')

block content
  
  .col-main
    .row
      .col-sm-8
        h1.page-header.text-capitalize #{packageName}
      .col-sm-4
        form
          .input-group
            input.text-input(type="search", class="form-control", placeholder="Search")
            span.input-group-btn
              button.btn.btn-default(type="submit")
                span.fa.fa-search(aria-hidden="true")

    each page in pages
      .panel.panel-default
        .panel-body
          
          //- span
          //-   | #{page.start_format}
          //- span
          //-   | #{page.end_format || 'Never'}
          .row
            .col-sm-8
              h2.h4(style="margin-top: 0")
                a(href="/admin/pages/#{page._id}/edit") !{page.title} 
                if page.published
                  a(href="#", data-toggle="tooltip", data-placement="top" title="Published"): span.fa.fa-circle.text-success(style="font-size:10px; vertical-align:3px;")
                else
                  a(href="#", data-toggle="tooltip", data-placement="top" title="Draft"): span.fa.fa-circle-o.text-warning(style="font-size:10px; vertical-align:3px;")
              span.small 
                span(style="color:#666;") Last modified: 
                | #{page.modified_ago || 'Never'}  
            .col-sm-4
              .btn-group.pull-right
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                  | Quick Actions 
                  span.caret
                ul.dropdown-menu
                  li: a(href="#", data-id="#{page._id}") Publish
                  li: a.deletePage(href="#", data-id="#{page._id}") Delete
            
    a(href="/admin/pages/create").btn.btn-primary Create
    
    - var nPages = Math.ceil(nPages / 10);
    - var i = 0;
    
    if nPages > 0
      nav.pull-right
        ul.pagination
          li(class=(activePage == 0) ? 'disabled' : '')
            a(href="/admin/pages?page=#{activePage-1}", aria-label="Previous")
              span(aria-hidden="true") &laquo;
              
          while i < nPages   
            li(class=(i == activePage) ? 'active' : '')
              a(href="/admin/pages?page=#{i}")
                | #{++i} 
                  
          li(class=(activePage < nPages-1) ? '' : 'disabled')
            a(href="/admin/pages?page=#{activePage+1}", aria-label="Next")
              span(aria-hidden="true") &raquo;        
              
block appendjs
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script.
    window.urlreload = false;
    window.csrf = '#{csrfToken}';
    window.images = [];
    window.galleries = [];
  script(src="/public/pages/admin/index.js")
