extends ../../../system/views/admin/layout/admin

block appendcss
  link(rel='stylesheet', href='/public/system/admin/index.css')
  link(rel='stylesheet', href='/public/#{packageName}/admin/index.css')

block content
  
  .col-main.js-article-list
    .row
      .col-sm-8
        h1.page-header.text-capitalize #{packageName}
      .col-sm-4
        form
          .input-group
            input.text-input(type="search", class="form-control", placeholder="Search")
            span.input-group-btn
              button.btn.btn-default(type="submit")
                span.fa.fa-search(aria-hidden="true")

    each page in pages
      .panel.panel-default.js-article(data-id="#{page._id}")
        .panel-body
          
          //- span
          //-   | #{page.start_format}
          //- span
          //-   | #{page.end_format || 'Never'}
          .row
            .col-sm-8
              h2.h4(style="margin-top: 0")
                a(href="/admin/#{packageName}/#{page._id}/edit") !{page.title} 
                if page.published
                  a(href="#", data-toggle="tooltip", data-placement="top" title="Published"): span.fa.fa-circle.text-success(style="font-size:10px; vertical-align:3px;")
                else
                  a(href="#", data-toggle="tooltip", data-placement="top" title="Draft"): span.fa.fa-circle-o.text-warning(style="font-size:10px; vertical-align:3px;")
              span.small 
                span(style="color:#666;") Last modified: 
                | #{page.modified_ago || 'Never'}  
            .col-sm-4
              .btn-group.pull-right
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                  | Quick Actions 
                  span.caret
                ul.dropdown-menu
                  if !page.published
                    li: a.js-publish(href="#", data-id="#{page._id}") Publish
                  else
                    li: a.js-unpublish(href="#", data-id="#{page._id}") Unpublish
                  li: a.deletePage(href="#", data-id="#{page._id}") Delete
            
    a(href="#").btn.btn-primary.js-create Create
    
    - var nPages = Math.ceil(nPages / 10);
    - var i = 0;
    div(pages=nPages)
    if nPages > 0
      nav.pull-right
        ul.pagination
          li(class=(activePage == 0) ? 'disabled' : '')
            a(href="/admin/#{packageName}?page=#{activePage-1}", aria-label="Previous")
              span(aria-hidden="true") &laquo;
              
          while i < nPages   
            li(class=(i == activePage) ? 'active' : '')
              a(href="/admin/#{packageName}?page=#{i}")
                | #{++i} 
                  
          li(class=(activePage < nPages-1) ? '' : 'disabled')
            a(href="/admin/#{packageName}?page=#{activePage+1}", aria-label="Next")
              span(aria-hidden="true") &raquo;        
              
block appendjs
  script(src="/public/files/vendor/jquery-ui/jquery-ui.min.js")
  script.
    window.urlreload = false;
    window.packageName = '#{packageName}'
    window.csrf = '#{csrfToken}';
    window.images = [];
    window.galleries = [];
  script(src="/public/#{packageName}/admin/index.js")
